<ModConfiguration>
    <Id>Cisien.HotbarControl</Id>
    <Name>Hotbar Control</Name>
    <Description>Prevents items that were newly added to the player's inventory from getting added to the hotbar</Description>
    <ChangeNote>New Release</ChangeNote>
    <Version>1</Version>
    <IsLocalMod>false</IsLocalMod>
    <IsServerOnlyMod>false</IsServerOnlyMod>
</ModConfiguration>